/* --- GENERAL --- */
body {
    background-color: #636363;
    margin: 0;
}
.pageGeneral {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    font-family: "Rubik Wet Paint";
    padding-left: 5px;
}

p, li, a {
    font-family: "Agdasima";
    font-size: 120%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* --- HEADER --- */
header{
    background-color: #5e386e;
    width: 100%;
    margin-top: 0;
    padding: 5px 10px;
}

.logo {
    width: 75px;
}

header .pageGeneral {
    justify-content: space-between;
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 3px 7px;
    border-radius: 5px;
}

header a:hover {
    background-color: #401c4f;
    color: whitesmoke;
}

/* --- PÀGINA --- */
.page {
    background-color: #401c4f;
    padding: 5px;
    color: whitesmoke;
}

.pageGeneral h1, h2 {
    margin: 10px;
}

/* --- SECCIONS ---*/

.seccion {
    margin: 10px;
    margin-top: 50px;
    align-items: center;
}

.seccion:hover {
    background-color: #5e386e;
    box-shadow: 2px 1px 4px 0.2px #361544fa;
    border-radius: 10px;
}

.portada {
    width: 20%;
    padding: 5px;
}
.portada img {
    width: 70%;
    border-radius: 5%;
}
.contenido {
    width: 75%;
    padding-bottom: 50px;
}

.link {
    background-color: #FFF5;
    padding: 5px 20px 7px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: #401c4f;
    transition: 0.2s;
}

/* --- PIE DE PAGINA --- */
footer {
    background-color: #5e386e;
    text-align: center;
}

.pies {
    justify-content: space-between;
    align-items: center;
}

.redesImg {
    width: 30px;
    transition: filter 0.3s ease;
    margin: 5px;
}
.redesImg:hover{
    filter: invert(1); 
}