/* --- SECCIONS ---*/
.seccio {
    margin: 10px;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
}

.portada {
    width: 20%;
    padding: 5px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.portada img {
    width: 80%;
    border-radius: 5%;
}
.contenido {
    width: 75%;
    padding-bottom: 50px;
}

.link {
    background-color: #FFF5;
    padding: 5px 20px 7px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: #401c4f;
    transition: 0.2s;
    margin: 0 3px;
}

.link:hover {
    background-color: #401c4f;
    color: #FFF7;
}

.seccio:hover {
    transform: scale(1.1);
    background-color: #5e386e;
    border-radius: 5px;
}