/* --- GENERAL --- */
body {
    background-color: #636363;
    margin: 0;
}
.pageGeneral {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: "Rubik Wet Paint";
    padding-left: 5px;
}

p, li, a {
    font-family: "Agdasima";
    font-size: 120%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* --- HEADER --- */
header{
    background-color: #5e386e;
    width: 100%;
    margin-top: 0;
    padding: 5px 10px;
}

.logo {
    width: 75px;
}

header .pageGeneral {
    justify-content: space-between;
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 3px 7px;
    border-radius: 5px;
}

header a:hover {
    background-color: #401c4f;
    color: whitesmoke;
}

/* --- PÀGINA --- */
.page {
    background-color: #401c4f;
    padding: 5px;
    color: whitesmoke;
}

/* --- PIE DE PAGINA --- */
footer {
    background-color: #5e386e;
    text-align: center;
}

.pies {
    justify-content: space-between;
    align-items: center;
}

.redesImg {
    width: 30px;
    transition: filter 0.3s ease;
    margin: 5px;
}
.redesImg:hover{
    filter: invert(1); 
}